parameters:
    database_host:     127.0.0.1
    database_port:     5432
    database_name:     pizza
    database_user:     root
    database_password: root


    mailer_transport:  smtp
    mailer_host:       poczta.o2.pl
    mailer_port:       465
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt
