xdebug.remote_enable={{ xdebug.remote_enable }}
xdebug.remote_log="{{ xdebug.remote_log }}"
xdebug.remote_host={{ xdebug.remote_host }}
xdebug.remote_handler={{ xdebug.remote_handler }}
xdebug.remote_port={{ xdebug.remote_port }}
